#navBar li{
    border-right: 1px solid black;
}
#navBar li a{
    color: black;
}
.content{
    padding: 250px 0px 0px 0px;
    color: white;
}
.content .bg{
    position: absolute;
    display: block;
    z-index: -1;
    top: 100px;
    left: 0;
    background-color: brown;
    background-repeat: repeat-y;
    border-radius: 0px 50px 50px 0px;
    height: 1100px;
    width: 95%;
    background-size: 100% 100%;
}
.reserve_top{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 1095px;
    margin: auto;
    padding: 0px 80px 0px 60px;
}
.reserve_top .imgshow{
    width: 50%;
    padding: 0px 80px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgshow img{
    border: 0;
    display: block;
    max-width: 280px;
    height: 270px;
}
.reserveText h3{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    overflow: hidden;
}
.reserveText h2{
    font-family:monospace;
    font-size: 4.5rem;
    line-height: 1.5;
    display: flex;
    overflow: hidden;
}
.reserveText p{
    font-size: 0.875rem;
    font-weight: lighter;
    line-height: 1.8;
}
.table_border{
    border: 2px dashed white;
}
.table{
    margin-top: 100px;
    padding: 0px 250px 0px 170px;
}
.table form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 0px 0px 170px 0px;
}
.content .pic_show{
    background-image: url(../img/p0387_m.png);
    width: 320px;
    height: 230px;
    background-size: 100% 100%;
    padding: 20px 15px;
    margin-top: 60px;
    opacity: 1;
    
}
.content .pic_show div{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    height: 110px;
    width: 160px;
    margin: 0 auto;
    margin-top: 60px;
}



.tableContent{
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    letter-spacing: 1px;
}
.table_title{
    display: flex;
    align-items: center;
    margin: 75px 0px 8px 0px;
    width: 100%;
    padding: 0px 0px 0px 0px;   
}
.table_title h3{
    font-size: 2.0rem;
    font-family: monospace;
    margin-right: 8px;
    line-height: 1.5;
}
.name{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 58%;
}
.name h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.name input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}
/*-----------------------------------------------------------------*/
.sex{
    position: relative;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 40%;
}

.sex select{
    display: none;
}
.select-selected{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: transparent;
    border: none;
    background-color: crimson;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: crimson;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*-----------------------------------------------------------------*/

.phone{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 100%;
}
.phone h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.phone input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}

.mail{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 100%;
}
.mail h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.mail input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}

.date{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 49%;
}
.date h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.date input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}

.time{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 49%;
}
.time h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.time input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}

.adult{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 49%;
}
.adult h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.adult input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}

.child{
    position: relative;
    background-color: crimson;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 49%;
}
.child h4{
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
}
.child input{
    width: 100%;
    border: none;
    border-left: 1px dashed white;
    padding-left: 20px;
    margin: 0px 15px;    
    background-color: transparent;
    font-size: 0.875rem;
    color: #fff;
    outline: none;
}
.same{
    position: relative;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    color: white;
}
.btnsend{
    cursor: pointer;
    position: absolute;
    background-color: crimson;
    display: block;
    right: 0;
    bottom: 18%;
    margin-top: 30px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}



/*----------------------------------------------------------*/

